aiofiles==0.6.0
amqp==5.0.5
beautifulsoup4==4.9.3
billiard==3.6.3.0
blis==0.7.4
catalogue==2.0.1
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cssselect==1.1.0
cymem==2.0.5
decorator==4.4.2
dill==0.3.3
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
faiss-cpu==1.7.0
fake-useragent==0.1.11
fastapi==0.63.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
flashtext==2.7
future==0.18.2
fuzzywuzzy==0.18.0
gunicorn==20.0.4
h11==0.12.0
httptools==0.1.1
idna==2.10
importlib-metadata==3.7.3
jieba3k==0.35.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
kombu==5.0.2
lxml==4.6.2
MarkupSafe==1.1.1
murmurhash==1.0.5
networkx==2.5
newspaper3k==0.2.8
nlp==0.2.0
nltk==3.5
numpy==1.20.1
packaging==20.9
pandas==1.2.3
pathy==0.4.0
Pillow==8.1.2
pke==1.8.1
preshed==3.0.5
prompt-toolkit==3.0.17
protobuf==3.15.6
pyarrow==3.0.0
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.15.0
python-Levenshtein==0.12.2
pytorch-transformers==1.1.0
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
regex==2021.3.17
requests==2.25.1
requests-file==1.5.1
s3transfer==0.3.6
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
semantic-text-similarity==1.0.3
sense2vec==2.0.0
sentence-transformers==1.0.2
sentencepiece==0.1.95
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
starlette==0.13.6
strsim==0.0.3
text2text==0.0.9
thinc==8.0.2
threadpoolctl==2.1.0
tinysegmenter==0.3
tldextract==3.1.0
tokenizers==0.8.0rc4
torch==1.8.0
tqdm==4.59.0
transformers==3.0.0
typer==0.3.2
typing-extensions==3.7.4.3
Unidecode==1.2.0
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
vine==5.0.0
wasabi==0.8.2
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
wikipedia==1.4.0
zipp==3.4.1
